.wwimagelogo{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
border: none;

}

.infoabout{
border: none;
text-align: center;
font-weight: bold;
color: #27206B;
}


.infoabout1{
    border: none;
    text-align: left;
   
    }

    .cardabout{
        background-color: #CFCFCF;
    }
    

    .videopart1i{
 
        margin-right: auto;
        background-color: #27206B;
        color: aliceblue;
        text-align: center;
    }